body
{
	background-color: #E6F5D7;
}

#logo
{
	height: 120px;
	width: 250px;
}

ul.navbar-nav
{
	display: flex;
	align-items: flex-end;
}

.nav-link:hover
{
	color: white;
	border: solid black 1px;
	border-radius: 10px;
	background-color: #004B2D;
}